body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* landing header */
.hero-content {
  color: white;
  letter-spacing: 0px;
  margin-bottom: 100px;
  margin-top: 4%;
}

.hero-content p {
  font-size: 15px;
  text-align: center;
}

.filter-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.50);
  color: white;
}

/* recipe list background */
.filter-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-repeat: none;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/public/coffee.jpg');
  margin-bottom: 100px;
}

#recipe-grid {
  margin-left: 10%;
  padding-top: 100px;
}

#form {
  margin-top: 100px;
}

#form label {
  text-align: left;
}

#footer {
  margin-top: 200px;

}

 hero image/header 
 .hero-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://media.istockphoto.com/photos/cup-of-coffee-and-coffee-beans-picture-id1282382408?b=1&k=20&m=1282382408&s=170667a&w=0&h=cnYj-MTqsISmMw5Fx1HoOrp7hekEe6vdg8IPzTImdcs=');
  margin-bottom: 125px;
} 


#footer {
  position: bottom;
   left: 0;
   bottom: 0;
   width: 120%;
   background-color: rgb(255, 253, 253);
   color: rgb(0, 0, 0);
   text-align: center;
   
 } 
   